<%= form_for(@work_day, :html => {:class => "form-horizontal"}) do |f| %>
  <% if @work_day.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@work_day.errors.count, "error") %> prohibited this work_day from being saved:</h2>

      <ul>
      <% @work_day.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <br />
    <% if @work_day.new_record? %>
    <br />
    <div class="control-group">
      <%= f.label :day, :class => "control-label" %>
      <div class="controls">
        <%= f.date_select :day, {}, {:class => 'span1'} %>
      </div>

    <% else %>
      <div class="control-group">
      <%= f.label :day, :class => "control-label" %>
      <div class="controls">
        <p><%= @work_day.day %></p>
      </div>

    <% end %>
<br />
      <%= f.label :start_work, :class => "control-label" %>
      <div class="controls">
      <%= f.time_select :start_work, {}, {:class => 'span1'}%>
      </div>
<br />
      <%= f.label :end_work, :class => "control-label" %>
      <div class="controls">
      <%= f.time_select :end_work, {}, {:class => 'span1'} %>
      </div>
<br />
      <%= f.label :note, :class => "control-label" %>
      <div class="controls">
      <%= f.text_area :note, :rows => 10 %>
      </div>
<br />
        <div class="controls">
        <%= f.submit %>
        </div>
      </div>
    </div>
<% end %>
