<h1>Listing work_days</h1>

<%= @work_days.count %>

<%= create_calendar(@week_days_array, @work_days_hash) %>
<table>
  <tr>
    <th>Day</th>
    <th>Start work</th>
    <th>End work</th>
    <th>Note</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @work_days.each do |work_day| %>
  <tr>
    <td><%= work_day.day %></td>
    <td><%= work_day.start_work.strftime("%H:%M") %></td>
    <td><%= work_day.end_work.strftime("%H:%M") %></td>
    <td><%= work_day.note %></td>
    <td><%= link_to 'Show', work_day %></td>
    <td><%= link_to 'Edit', edit_work_day_path(work_day) %></td>
    <td><%= link_to 'Destroy', work_day, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Work day', new_work_day_path %>
<%= link_to "prev", root_path(:date => @time - 1.month) %> |
<%= link_to "next", root_path(:date => @time + 1.month) %>
