<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @work_day.day %>
</p>

<p>
  <b>Start work:</b>
  <%= @work_day.start_work %>
</p>

<p>
  <b>End work:</b>
  <%= @work_day.end_work %>
</p>

<p>
  <b>Note:</b>
  <%= @work_day.note %>
</p>


<%= link_to 'Edit', edit_work_day_path(@work_day) %> |
<%= link_to 'Back', work_days_path %>
