<div class="atag2">
<%= content_tag(:div, "TesT", class: "atag") do %>
<% "TEST" %>

<%= content_tag(:p, "HAHAHAHA") %>
<%= content_tag(:p, "HAHAHAHA") %>
<%= content_tag(:p, "HAHAHAHA") %>
<%= content_tag(:p, "HAHAHAHA") %>
<%= content_tag(:p, "HAHAHAHA") %>

<% end %>

</div>

<%= link_to "root", root_path %>
